/* CSS interno para demonstração */

/* Fundo clean e chic */
body {
    background: linear-gradient(to right, 4s, infinite, blue, purple);
    font-family: 'Arial', sans-serif;
    background-size: 500% 100%;

    animation: easy 4.5s ease-in-out alternate infinite ;
    
}


@keyframes easy{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

/* Estilo da navegação */
.navbar {
    background: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    background-color: coral;
    border-radius: 60%;
}

/* Seção dos projetos */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

.project {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    overflow: hidden;
    position: relative;
}

.project img {
    width: 100%;
    height: auto;
}

.project h3 {
    margin: 10px;
    font-size: 20px;
    text-align: center;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.project p {
    padding: 0 20px 20px;
    font-size: 16px;
    line-height: 1.6;
}

.project a {
    display: block;
    padding: 10px;
    text-align: center;
    background: #ffffff;
    border: 2px solid #00ff00;
    color: #00ff00;
    margin: 10px 20px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

.project a:hover {
    background: #00ff00;
    color: #ffffff;
}

.project:hover .project-border {
    animation: border-color-change 3s infinite;
}

@keyframes border-color-change {
    0% { border-color: #ff0000; }
    33% { border-color: #00ff00; }
    66% { border-color: #0000ff; }
    100% { border-color: #ff0000; }
}

.project-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 10px solid transparent;
    transition: all 0.3s;
}