

body {

font-family: 
    
    background: linear-gradient(to bottom, black, black, gray);
    color: #ffffff;

    color: #333;
    box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.5), 3px 3px 5px 0px rgba(255, 255, 255, 0.5);


}



header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: gold;
}

.profile-container {
    display: flex;
    align-items: flex-start;
    padding: 40px;
}



.about h1,
.about h4,
.about h6 {
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 20px;
    line-height: 1.6;

}

.about button {
    background-color: blueviolet;
    color: #090909;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 13px;

}


.works {
    padding: 40px;
    text-align: center;

    border-radius: 2px;
    border-color: gray;
}

.works h2 {
    margin-bottom: 40px;
}



.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table-item {
    background-color: #f9f5f5;
    border: 5px solid #312f2f;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 9px;

}



.table-item:hover {
    transform: scale(1.6);
}

.table-item a {
    text-decoration: black;
    color: rgb(89, 84, 84);
    font-size: 20px;

}

.registration {
    padding: 40px;

}

.registration form {
    display: flex;
    flex-direction: column;

}

.registration form label {
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #f7f1f1;
}

.registration form input,
.registration form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    border-color: rgb(78, 57, 57);
}

.registration form button {
    background-color: #161515;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.registration form button:hover {
    background-color: #fdf5f5;
}
}

.social-icons {
    display: inline-flex;


}

.social-icons a {
    display: inline-flex;
    height: 40px;
    margin-left: 290px;
    cursor: pointer;
    align-content: center;
}

}



.roles {
    font-size: 45px;
    font-weight: 300;

}

.roles span {
    position: relative;
}

.roles span::before {
    content: "";
    color: red;
    animation: palavras 20s infinite;
}

.roles span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid red;
    right: 10px;
    opacity: 1;
    animation: cursor 8s infinite;
    ~width: calc(100% + 18px);
    background-color: #fff;
}
