body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #000009, #f4f5f8);
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5e5e5;
    padding: 10px 0;
    text-align: center;
    text-shadow: #000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    text-align: center;
}

h1,
h2,
h3 {
    text-shadow: 2px 2px #000;
}

.servicos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servico {
    margin: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.servico:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #fff;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #fff;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4a148c;
}

td {
    background-color: #6a1b9a;
}

button {
    background-color: #6a1b9a;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4a148c;
    box-shadow: 0 0 10px #fff;
}